<div class="intro-contain">
<div class="section-header">
  <div class="section-title-container">
      <h2 class="section-title">INTRO</h2>
  </div>
</div>
<div class="section-content">
  <div class="container left-intro">
    <h1 class="title">Hi, my name is <span class="name">Michael Nelms</span>!</h1>
    <div class="portrait-contain">
      <img id="portrait" src="https://farm5.staticflickr.com/4383/36897051850_d1114c8397_b.jpg" alt="Profile Pic" />
    </div>
    <div class="type-writer-contain">
        <h2 class="sub-title">I'm part
          <app-type-writer></app-type-writer>
        </h2>
      </div>
    <div class="text-box">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita et ipsam quisquam maiores adipisci obcaecati culpa
        dicta, provident excepturi quae cumque numquam quos facilis voluptas magni enim aut pariatur recusandae iste soluta
        officiis. Nihil inventore laborum officia dignissimos atque voluptates. Debitis architecto autem delectus rerum pariatur
        officia aliquid. Obcaecati harum accusantium perferendis atque incidunt ipsum maiores dolor quisquam aut excepturi
        placeat fugiat laudantium impedit autem quam neque eum ipsa, doloremque sunt! Blanditiis, officiis numquam! Non!</p>
    </div>
  </div>
  <div class="container right-intro">
    <div class="info-container">
      <h3 class="info-title">
        LINKS & INFO
      </h3>
      <hr>
      <table class="links-group">
        <tr class="link-contain linkedin">
          <td class="link-text"><i class="fa fa-linkedin icon" aria-hidden="true"></i></td>
          <td class="link-name"><a href="https://www.linkedin.com/in/michael-nelms-9b1a8a107/"
              target="_blank" rel="noopener" class="link">LinkedIn</a></td>
        </tr>
        <tr class="link-contain github">
          <td class="link-text"><i class="fa fa-github icon" aria-hidden="true"></i></td>
          <td class="link-name"><a href="https://github.com/MikeIke24"
              target="_blank" rel="noopener" class="link">GitHub</a></td>
        </tr>
        <tr class="link-contain codepen">
          <td class="link-text"><i class="fa fa-codepen icon" aria-hidden="true"></i></td>
          <td class="link-name"><a href="https://codepen.io/MikeIke/"
              target="_blank" rel="noopener" class="link">CodePen</a></td>
        </tr>
        <tr class="link-contain wordpress">
          <td class="link-text"><i class="fa fa-wordpress icon" aria-hidden="true"></i></td>
          <td class="link-name"><a href="https://mnelmsblog.wordpress.com/"
              target="_blank" rel="noopener" class="link">Blog</a></td>
        </tr>
        <tr class="link-contain stack-overflow">
          <td class="link-text"><i class="fa fa-stack-overflow icon" aria-hidden="true"></i></td>
          <td class="link-name"><a href="https://stackoverflow.com/users/7656460/michael-nelms"
              target="_blank" rel="noopener" class="link">Stack Overflow</a></td>
        </tr>
        <tr class="link-contain freecodecamp">
          <td class="link-text"><i class="fa fa-free-code-camp icon" aria-hidden="true"></i></td>
          <td class="link-name"><a href="https://www.freecodecamp.org/mikeike24"
              target="_blank" rel="noopener" class="link">FreeCodeCamp</a></td>
        </tr>
      </table>
    </div>
  </div>
  </div>


  <!--
  <div class="btn-contain">
    <a href="#">
      <div class="btn btn-left">
        <h4 class="btn-text">Resume</h4>
      </div>
    </a>
    <a href="#">
      <div class="btn btn-center">
        <h4 class="btn-text">Read More</h4>
      </div>
    </a>
    <a href="#">
      <div class="btn btn-right">
        <h4 class="btn-text">Contact</h4>
      </div>
    </a>
  </div>
-->
</div>
