$gold:rgb(237, 150, 2) !global;
#nav-container-mobile {
  height: 0px;
  #right-sidebar {
    width: 20rem;
    height: 100vh;
    position: fixed;
    background-color: hsl(0, 0, 10);
    right: -20rem;
    top: 0;
    overflow: auto;
    z-index: 10;
  }
  #open-sidebar {
    width: 1.8rem;
    height: 2rem;
    position: fixed;
    transition: all 0.3s ease;
  }
  #open-sidebar:hover{
    cursor: pointer;
    filter: brightness(0.7);
  }
  #close-sidebar{
    color:hsl(0,0,75);
    padding:0.5rem 0 0 0.5rem;
    font-size:1.5rem;
    transition: all 0.2s ease;
  }
  #close-sidebar:hover{
    cursor:pointer;
    color:hsl(0,0,95);
  }
  .bars {
    width: 100%;
    height: 0.185rem;
    margin: 0.35rem 0;
    border-radius: 0.05rem;
    background-color: $gold;
  }
  .open-sidebar-contain {
    width: 3rem;
    margin: 0 0 0 auto;
    padding-top: 0.5rem;
  }
  .nav-list {
    height:90%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    .nav-box {
      margin: 1.5rem 0;
      flex-grow: 1;
      text-align: center;
      a {
        width: 100%;
        height: 100%;
        color: hsl(0, 0, 90);
        letter-spacing: 0.1rem;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s ease-in-out;
      }
      a:hover {
        color: white;
      }
      .nav-underline {
        width: 0%;
        height: 2px;
        background-color: rgb(237, 150, 2);
        transition: width 0.3s ease-in-out;
      }
      a:hover+.nav-underline {
        width: 100%;
      }
    }
    .nav-box-home-mobile{
      margin-top:-2rem;
    }
    #logo {
      background-color: rgba(237, 150, 2, 0);
      .logo-pic {
        height: 100%;
        width: 3.5rem;
        margin: auto;
        opacity:0.8;
      }
  }
    #home .nav-underline {
      background-color: #ecf0f1;
    }
    #intro .nav-underline{
      background-color: #1abc9c;
    }
    #sites .nav-underline{
      background-color: #2ecc71;
    }
    #designs .nav-underline{
      background-color: #3498db;
    }
    #projects .nav-underline{
      background-color: #9b59b6;
    }
    #education .nav-underline{
      background-color: #e74c3c;
    }
    #contact .nav-underline{
      background-color: #f39c12;
    }
  }
}
@media only screen and (min-width: 750px) {
  #right-sidebar{
    right: -20rem !important;
  }
 }