<div id="nav-container-mobile">
  <div class="open-sidebar-contain">
    <div id="open-sidebar">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
  </div>
  <div id="right-sidebar">
    <span id="close-sidebar"><i class="fa fa-times" aria-hidden="true"></i></span>
    <ul class="nav-list">
        <li id="logo" class="nav-box"><a href="#"><img class="logo-pic" src="https://farm5.staticflickr.com/4439/37190388905_72fbbd24bc_o.png" alt="logo" /></a><div class="nav-underline"></div></li>
        <li id="intro" class="nav-box"><a href="#">Intro</a><div class="nav-underline"></div></li>
        <li id="sites" class="nav-box"><a href="#">Sites</a><div class="nav-underline"></div></li>
        <li id="designs" class="nav-box"><a href="#">Designs</a><div class="nav-underline"></div></li>
        <li id="projects" class="nav-box"><a href="#">Projects</a><div class="nav-underline"></div></li>
        <li id="education" class="nav-box"><a href="#">Education</a><div class="nav-underline"></div></li>
        <li id="contact" class="nav-box"><a href="#">Contact</a><div class="nav-underline"></div></li>
    </ul>
  </div>
</div>
