<div id="nav-container-mobile">
  <div class="open-sidebar-contain">
    <div id="open-sidebar">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
  </div>
  <div id="right-sidebar">
    <span id="close-sidebar"><i class="fa fa-times" aria-hidden="true"></i></span>
    <ul class="nav-list">
      <li class="nav-box"><a href="#">Logo</a>
        <div class="nav-underline"></div>
      </li>
      <li class="nav-box"><a href="#">Home</a>
        <div class="nav-underline"></div>
      </li>
      <li class="nav-box"><a href="#">Intro</a>
        <div class="nav-underline"></div>
      </li>
      <li class="nav-box"><a href="#">Sites</a>
        <div class="nav-underline"></div>
      </li>
      <li class="nav-box"><a href="#">Designs</a>
        <div class="nav-underline"></div>
      </li>
      <li class="nav-box"><a href="#">Projects</a>
        <div class="nav-underline"></div>
      </li>
      <li class="nav-box"><a href="#">Education</a>
        <div class="nav-underline"></div>
      </li>
      <li class="nav-box"><a href="#">Contact</a>
        <div class="nav-underline"></div>
      </li>
    </ul>
  </div>
</div>
