<div class="home-contain">
  <h1 class="title">Michael Nelms</h1>
  <h2 class="sub-title"><app-type-writer></app-type-writer></h2>
  <div class="btn-contain">
    <a href="#">
      <div class="btn btn-left">
        <h4 class="btn-text">Resume</h4>
      </div>
    </a>
    <a href="#">
      <div class="btn btn-center">
        <h4 class="btn-text">Read More</h4>
      </div>
    </a>
    <a href="#">
      <div class="btn btn-right">
        <h4 class="btn-text">Contact</h4>
      </div>
    </a>
  </div>
</div>
