$fontSize:3rem;
#typing-target{
  font-size:$fontSize;
  letter-spacing:0.1rem;
  margin:0 auto;
  color:white;
}
#cursor{
  width:$fontSize*0.35;
  height:($fontSize) - (0.5rem);
  display:inline-block;
  background-color:white;
   animation-name: cursorFade;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    position:relative;
    top:+0.2rem;
}
@keyframes cursorFade {
    0%   {opacity: 1;}
    50%  {opacity: 0;}
    100% {opacityr: 1;}
}